#imCel1_00 {position: absolute; top: 0px; left: 10px; height: 310px; width: 468px; }
#imObj1_00 img {border: none; height: 310px; width: 450px; vertical-align: bottom; }
#imObj1_00 {padding: 0px; }
#imCel1_00_Cont {text-align: left; height: 310px; overflow: hidden; }
#imCel0_00 {position: absolute; top: 0px; left: 488px; height: 310px; width: 468px; }
#imObj0_00 .ff0 {font-family: Times New Roman; }
#imObj0_00 .ff1 {font-family: Tahoma; }
#imObj0_00 .ff2 {font-family: Tahoma; }
#imObj0_00 .fc1 {color: #FFFFFF; }
#imObj0_00 .fc2 {color: #000000; }
#imObj0_00 .fs10 {font-size: 13px ; vertical-align: baseline; line-height: 16px ; }
#imObj0_00 {padding: 72px 0px 0px 0px; }
#imCel0_00_Cont {text-align: center; height: 310px; overflow: hidden; }
#imPage {position: relative; height: 360px; }

